[submodule "[107] Métodos Estadísticos para la Computación"]
	path = [107] Métodos Estadísticos para la Computación
	url = git@github.com:15Galan/asignatura-107.git
[submodule "[109] Programación Orientada a Objetos"]
	path = [109] Programación Orientada a Objetos
	url = git@github.com:15Galan/asignatura-109.git
[submodule "[201] Análisis y Diseño de Algoritmos"]
	path = [201] Análisis y Diseño de Algoritmos
	url = git@github.com:15Galan/asignatura-201.git
[submodule "[203] Estructura de Computadores"]
	path = [203] Estructura de Computadores
	url = git@github.com:15Galan/asignatura-203.git
[submodule "[204] Estructuras de Datos"]
	path = [204] Estructuras de Datos
	url = git@github.com:15Galan/asignatura-204.git
[submodule "[207] Programación de Sistemas y Concurrencia"]
	path = [207] Programación de Sistemas y Concurrencia
	url = git@github.com:15Galan/asignatura-207.git
[submodule "[210] Sistemas Operativos"]
	path = [210] Sistemas Operativos
	url = git@github.com:15Galan/asignatura-210.git
[submodule "[301] Introducción a los Sistemas de Información"]
	path = [301] Introducción a los Sistemas de Información
	url = git@github.com:15Galan/asignatura-301.git
[submodule "[302] Procesadores de Lenguajes"]
	path = [302] Procesadores de Lenguajes
	url = git@github.com:15Galan/asignatura-302.git
[submodule "[303] Seguridad de la Información"]
	path = [303] Seguridad de la Información
	url = git@github.com:15Galan/asignatura-303.git
